page-home {

    ion-content{
       background: radial-gradient( #fff 50%, #FFA500 150%);
       text-align: center; 
    }
  ion-title * {
//      margin-top: 15vh;
      margin-bottom: 5vh
  }
  img{
    margin-top: 15vh;
    width: 120px;
    height: 100px;
  }

}
