page-add {
    ion-header{
    background: rgba(0, 255, 13, 0.753);
    }
    ion-content{
    background: radial-gradient( #fff 50%, rgba(0, 255, 13, 0.753) 150%);
    }
    .scroll-content{
        justify-content: center;
       display: flex!important;
     align-items: center!important;
     text-align: center!important; 
   }

}
